*{
    color: white;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: black;
}

.author {
    background-color: rgb(88, 88, 212);
    font-size: 3em;
    height: 90px;
    box-sizing: border-box;
}

header {
    background-color: rgb(85, 28, 138);
    margin: 0 10%;
}

header ul {
    list-style: none;
}
   
.region, .split{
    box-sizing: border-box;
    background-color: rgb(123, 43, 197);
    border: white solid 5px;
    border-top-color: rgb(123, 43, 197);
    text-align: center;
}

.region li ,.split li{
    font-size: 40px;
    font-weight: bold;
    color: rgb(107, 104, 104);
    text-align: center;
    margin-bottom: 20px;
    display: inline-block;
    margin-right: 5%
}

li.current {
    color: white;
}
/*
li.other:hover {
    color: white;
}*/

figure {
    box-sizing: border-box;
    opacity: 0.2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%); /* what is this*/
}

figure img {
    width: 30em;
}

.split li{
    font-size: 20px;
}

main {
    background-color: rgb(85, 28, 138);
    margin: 0 10%;
}

section {
    padding-top: 20px;
}

#Ranking img{
    width: 1.5em;
    height: 1.5em;
}

#Ranking table {
    width: 30rem;
}

table, th, td{
    border: white solid 1px;
    border-collapse: collapse;
    box-sizing: content-box;
}

#Ranking thead th:nth-child(1) {
    width: 2rem;
}

#Ranking tbody td:nth-child(1) {
    width: 2rem;
    text-align: center;
}

#Ranking thead th:nth-child(2) {
    width: 15rem;
    text-align: center;
}

#Ranking tbody td:nth-child(2) {
    width: 15rem;
    text-align: left;
}

#Ranking thead th:nth-child(3) {
    width: 4rem;
}

#Ranking tbody td:nth-child(3) {
    width: 4rem;
    text-align: center;
}

#Ranking thead th:nth-child(4) {
    width: 3rem;
}

#Ranking tbody td:nth-child(4) {
    width: 3rem;
    text-align: center;
}

#Ranking thead th:nth-child(5) {
    width: 5rem;
}

#Ranking tbody td:nth-child(5) {
    width: 5rem;
    text-align: center;
} 


#Schedule table {
    margin-left: 2em;
    width: 15rem;
    box-sizing: border-box;
    font-size: 1rem;
}

#Schedule table img{
    width: 1.5em;
    height: 1.5em;
}

#Schedule tbody td:nth-child(1), tbody td:nth-child(4) {
    width: 10rem;
    text-align: center;
    padding: 0.5rem;
} 

#Schedule td:nth-child(2), tbody td:nth-child(3) {
    width: 5rem;
    text-align: center;
} 

#Schedule .w{
    background-color: green;
}

.GEN:hover {
    background-color: grey;
}
